CREATE PROCEDURE [dbo].[ConsultarTipoPromociones]
AS
BEGIN

	SELECT 
		RTRIM(ID_TIPO_PROMOCION) AS ID_TIPO_PROMOCION,
		RTRIM(DESCRIPCION) AS DESCRIPCION		
	FROM TIPO_PROMOCIONES

END

GO

