:root {
    --dark-text: #212121;
    --light-text: #FFFFFF;
    --light-background: #f0f4f5;
    --primary-color: #132644;
    --accent-color: #4CAF50;
    --light-primary-color: #003d78;
    --main-font: Open Sans, sans-serif;
}


/*################ Margins, Paddings, Heights, Widths, 
Positions, Display, Top, Bottom, left, rights ################*/

* {
    margin: 0;
    padding: 0;
}

#header, #section {
    padding-left: 200px;
}

#header {
    height: 50px;
}

.bg {
    width: 100%;
    height: 100vh;
}

.form-container {
    position: absolute;
    top: 15vh;
    padding: 30px 30px 0 30px;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    height: 100%;
    z-index: 1;
}

.wrapper {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 15px 15px 15px;
    z-index: 9;
}

.form-control {
    height: 40px !important;
}

aside {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    height: 100%;
    padding-top: 40px;
    z-index: 999;
}

    aside ul li:hover {
        margin-left: 25px;
    }

    aside .toggle-btn {
        position: absolute;
        left: 230px;
        top: 20px;
    }

        aside .toggle-btn span {
            display: block;
            width: 30px;
            height: 5px;
            margin: 3px 0;
        }

.li-padding {
    padding: 7px 12px 7px 20px;
}

.form-control-login {
    margin-left: -20px;
    border-radius: 0;
    padding-left: 25px !important;
    border-width: 0 0 2px;
}

.tooltip .tooltip-inner {
    z-index: 9999;
}

.tooltip-inner {
    max-width: 500px;
}

.login-icons {
    transform: scaleX(-1);
    padding-top: 5px;
}

.login-header {
    margin: -30px -30px 0 -30px;
    height: 130px;
}

.ag-theme-fresh .ag-header-select-all span {
    margin-left: 12px;
}

#frmClientes .container-fluid {
    padding: 15px;
    height: auto;
}


/*################ Font Styles ################*/

* {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
}

body,
table,
input,
select,
.form-control,
.btn-primary,
.btn-primary:hover,
.btn-secondary {
    font-size: 14px !important;
    font-family: var(--main-font) !important;
}

    .btn-primary:active {
        color: var(--light-text);
    }

.material-icons {
    font-family: 'Material Icons';
}

#header h1 {
    font-weight: 800;
    font-size: 16px;
}

.control-label,
.col-form-label {
    font-size: 12px !important;
    font-weight: bold;
}

aside a {
    color: var(--light-text) !important;
    font-weight: 500;
}

aside ul li {
    color: rgba(230,230,230,0.9);
}

    aside ul li:hover,
    aside ul li:hover a {
        color: var(--dark-text) !important;
        font-weight: 600;
    }

.form-control {
    font-family: var(--main-font);
}

.tooltip .tooltip-inner {
    color: var(--dark-text) !important;
    font-family: Open Sans !important;
    font-size: 12px !important;
}

.login-icons,
.login-footer {
    color: darkgray;
}

#frmClientes .container-fluid * {
    font-size: 13px;
}

#frmClientes .container-fluid .material-icons {
    font-size: 16px;
}

.ADMdtpInput input {
    font-family: var(--main-font) !important;
}


/*################ Backgrounds and borders ################*/

body {
    background: white !important;
}

.bg {
    background-color: var(--light-background) !important;
    background-size: 100%;
}

.form-container {
    background: white;
    border-radius: 10px;
}

.background-image {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../Images/img_spa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-primary, .btn-primary:hover {
    background: var(--accent-color) !important;
    border-color: #388E3C !important;
}

    .btn-primary:active {
        background: #388E3C !important;
    }

aside {
    background: linear-gradient(rgba(19, 38, 68, 0.90), rgba(19, 38, 68, 0.90)), url('../Images/img_spa.jpg');
}

    aside ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background-size: 200% 100%;
        background-image: linear-gradient(to left, white 50%, transparent 50%);
    }

        aside ul li:hover {
            border-radius: 10px 0 0 10px;
            background-position: 100% 0;
        }

    aside .toggle-btn span {
        background: #151719;
    }

.form-control-login:focus {
    border-color: var(--light-primary-color);
}

.tooltip .tooltip-inner {
    background-color: #749eba !important;
}

.login-header {
    border-radius: 10px 10px 0 0;
    background: url('../../Images/login-header.jpg');
    background-size: cover;
}

.md-primary.md-checked .md-icon {
    background-color: #3A6EA5 !important;
}

#frmClientes .container-fluid {
    background-color: white !important;
    border-radius: 10px;
}

.warning {
    border: 1px solid red;
}


/*################ Element Tweaks ################*/

aside ul li {
    list-style: none;
}

.login-footer {
    text-align: center !important;
}


/*################ Filters, Shadows, Transitions ################*/

.background-image {
    filter: blur(5px) grayscale(100%);
}

.form-container {
    box-shadow: 0 0 6px #999;
}

.btn-primary:active {
    transform: translateY(2px);
}

aside {
    transition: all 500ms linear;
}

    aside ul li {
        transition: background-position 0.3s;
    }

        aside ul li:hover {
            transition: all 0.3s ease-in-out;
            box-shadow: -7px 0 5px rgba(0,0,0,0.87);
        }

.form-control:focus {
    transition: all 0.3s ease-in-out;
    outline: 0;
}

.form-control-login:focus {
    transition: all 0.3s ease-in-out;
    box-shadow: none !important;
}

.tooltip .tooltip-inner {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.tooltip.in {
    opacity: 1 !important;
    filter: alpha(opacity=100);
}

.tooltip.show {
    opacity: 1;
}

#frmClientes .container-fluid {
    box-shadow: 0 0 6px #999;
}


/*################ Fixes ################*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/*################ @Media Responsive ################*/

@media only screen and (max-width: 678px) {
    .bg {
        background-size: 300%;
    }
}
