:root {
    --dark-text: #212121;
    --light-text: #FFFFFF;
    --light-background: #f0f4f5;
    --dark-background: #212121;
    --primary-color: #005eb8;
    --accent-color: #ffeb3b;
    --dark-primary-color: #003d78;
    --main-font: 'Open Sans', sans-serif;
}

* {
    font-family: var(--main-font);
    margin: 0px;
    padding: 0px;    
}

body {    
    background: var(--light-background) !important;
    font-size: 14px !important;
}

a {
    color: var(--primary-color) !important;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: var(--dark-primary-color) !important;
    text-decoration: none;
}

#header, #section {
    padding-left:200px;
}

#header {
    height:50px;
}

#header h1 {
    font-weight:800;
    font-size:16px;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.bg {
    /*background: url('../Images/img_spa.jpg') no-repeat;*/
    background-color:var(--light-background) !important;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.form-container {
    position: absolute;
    background:white;
    top: 15vh;    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px rgba(100,100,100,0.3);  
}

@media only screen and (max-width: 678px) {
    .bg{
        background-size: 300%;
    }
}

/* Font Size */
.control-label, .col-form-label {
    font-size: 13px !important;
    font-weight: bold;
}

table, input, select, .form-control {
    font-size: 15px !important;
}

.btn-primary, .btn-primary:hover {
    background: var(--primary-color) !important;
}

.btn-primary:active {
    background: var(--dark-primary-color) !important;
    color: var(--light-text) !important;
    transform: translateY(2px);
}

.btn-primary, .btn-secondary {
    font-size: 15px !important;
}

.form-control {
    height: 40px !important;
}

/*Sidebar*/

aside {
    position: fixed;
    width: 200px;    
    height: 100%;
    background: var(--primary-color) !important;
    /*left: -200px;*/
    transition: all 500ms linear;    
    top: 0;
    height: 100%;
    z-index: 999;
}

aside a {
    color:var(--light-text) !important;
}

aside a:hover {
    color: var(--light-text) !important; 
}


aside ul li {
    color: rgba(230,230,230,0.9);
    list-style: none;
    /*padding:15px 10px;*/
    border-bottom: 1px solid var(--dark-primary-color);
}

aside ul li:hover{
    background:var(--dark-primary-color) !important;
    transition: all 0.3s ease-in-out;
}    

aside .toggle-btn {
    position:absolute;
    left:230px;
    top:20px;
}

aside .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:3px 0px;
}

.li-padding {
    padding: 12px 12px 12px 20px;
}

/*Form Input Fixes*/

.form-control {
    outline: 0;
    border-radius: 0;    
}

.form-control:focus {
    transition: all 0.3s ease-in-out;
    outline: 0;
    box-shadow: none !important;    
}

.form-control-login {
    margin-left: -20px;
    padding-left: 25px !important;    
    border-width: 0 0 2px;
}

.form-control-login:focus {
    transition: all 0.3s ease-in-out;   
    border-color: var(--dark-primary-color);
}

.tooltip .tooltip-inner {
    background-color: var(--accent-color) !important;
    color:var(--dark-text) !important;
}