:root {
    --dark-text: #212121;
    --light-text: #FFFFFF;
    --light-background: #f0f4f5;
    --primary-color: #132644;
    --accent-color: #4CAF50;
    --light-primary-color: #003d78;
    --main-font: Open Sans, sans-serif;
}

/*################ Margins, Paddings, Heights, Widths, 
Positions, Display, Top, Bottom, left, rights ################*/

* {
    margin: 0;
    padding: 0;
}

#section {
    padding-left: 200px;
}

#header {
    min-width:820px;
    height: 50px;
    margin-bottom:10px;
    z-index: 10;
}

#header .site-title {
    float: left;    
    margin: 5px 0 0 20px;
}

#header .site-widgets {
    float: right;    
    margin: 14px 20px 0 0;
}

#header .site-widgets ul li {
    display: inline;
    padding: 0 3px 0 3px;
}

.bg {
    width: 100%;
    height: 100vh;
}

.form-container {
    position: relative;
    top: 15vh;
    padding: 30px 30px 0 30px;
    margin: 30px 30px 0 30px;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    height: 100%;
    z-index: 1;
}

.wrapper {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 15px 15px 15px;
    z-index: 8;    
}

#sidebar {
    position: fixed;
    width: 200px; 
    height: 100%;
    padding-top: 15px;
    z-index: 9;
}

#sidebar ul li:hover {
    margin-left: 25px;
}

li.active {
    margin-left: 25px;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    margin: 3px 0;
}

.li-padding {
    padding: 7px 12px 7px 20px;
}

.form-control-login {
}

.tooltip .tooltip-inner {
    z-index: 9999;
}

.tooltip-inner {
    max-width: 500px;
}

.login-icons {
}

.login-header {
    margin: -30px -30px 0 -30px;
    height: 130px;
}

.login-footer {
    padding: 10px;
    margin:10px;
}

.ag-theme-fresh .ag-header-select-all span {
    margin-left: 12px;
}

#frmClientes, #frmServicios, #frmEmpleados, #frmProductos, #frmGastos, #frmGestion, #frmAgenda {
    padding: 13px;
    height: auto;
    margin-top: 3px;
    min-width: 100%
}

    #frmClientes .layout-row, #frmEmpleados .layout-row {
        margin-bottom: -10px;
    }

    #frmClientes md-input-container, #frmEmpleados md-input-container {
        margin: 15px 0 0 0;
    }

#frmServiciosModal {
    padding: 15px;    
    height: auto;
    margin-top: 3px;
    min-width: 100%
}

#frmProductosModal {
    padding: 15px;
    height: auto;
    margin-top: 3px;
    min-width: 100%
}

.btn-login {
    min-width: 100%;
    margin: 0;
}

.tooltip .tooltip-inner {
    max-width:140px;
}

/*################ Font Styles ################*/
* {
    font-family: var(--main-font);
    font-style: normal;
}

body,
table,
input,
select,
.form-control,
.btn-spa,
.btn-spa:hover,
.btn-login,
.btn-login:hover {
    font-size: 14px !important;
    font-family: var(--main-font) !important;
}

    .btn-primary:active {
        color: var(--light-text);
    }

.material-icons {
    font-family: 'Material Icons';
}

#header h1 {
    font-weight: 800;
    font-size: 26px;
}

#header .site-widgets ul li {
    font-weight:600 !important;
}

.control-label,
.col-form-label {
    font-size: 12px !important;
    font-weight: bold;
}

#sidebar a {
    color: var(--light-text) !important;
    font-weight: 500;
}

#sidebar ul li {
    color: rgba(230,230,230,0.9);
}

#sidebar ul li:hover,
#sidebar ul li:hover a {
    color: var(--light-text) !important;
    font-weight: 600;
}


.form-control {
    font-family: var(--main-font);
}

.tooltip .tooltip-inner {
    color: var(--light-text) !important;
    font-family: Open Sans !important;
    font-size: 12px !important;
}

.login-icons,
.login-footer {
    color: darkgray;
}

#frmClientes, #frmServicios, #frmEmpleados, #frmProductos, #frmGastos, #frmGestion, #frmAgenda {
    font-size: 13px;
}

    #frmClientes .material-icons, #frmServicios .material-icons,
    #frmEmpleados .material-icons, #frmProductos .material-icons, #frmGastos .material-icons,
    #frmGestion .material-icons, #frmAgenda .material-icons {
        font-size: 16px;
    }

.ADMdtpInput input {
    font-family: var(--main-font) !important;
}

.btn-login, .btn-spa {
    text-transform: none;
}


/*################ Backgrounds and borders ################*/
body {
    background: white !important;
}

#header {
    background: white !important;
    border-bottom: 1px solid #eee;
}

.bg {
    background-color: var(--light-background) !important;
    background-size: 100%;
}

.form-container {
    background: white;
    border-radius: 10px;
}

.background-image {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../Images/img_spa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-login {
    background: var(--accent-color) !important;
    color: var(--light-text);
}

.btn-login:hover {
    background: #56c15a !important;
}
.btn-login:active {
    background: #239c28 !important;
}

.btn-spa {
    background: var(--accent-color) !important;
    color: var(--light-text);
}

    .btn-spa:hover {
        background: #56c15a !important;
    }

    .btn-spa:active {
        background: #239c28 !important;
    }

#sidebar {
    background: rgba(19, 38, 68, 0.90);
    border-radius: 0 10px;
}

#sidebar ul li {
    border-bottom: 1px solid rgba(40, 40, 40, 0.87);
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #212121 50%, transparent 50%);
}

#sidebar ul li:hover {
    border-radius: 10px 0 0 10px;
    background-position: 100% 0;
}

li.active {
    border-radius: 10px 0 0 10px;
    background-position: 100% 0;
}

#sidebar .toggle-btn span {
    background: #151719;
}

.form-control-login:focus {
    border-color: var(--light-primary-color);
}

.tooltip .tooltip-inner {
    background-color: #749eba !important;
}

.login-header {
    border-radius: 10px 10px 0 0;
    background-size: cover;
}

.md-primary.md-checked .md-icon {
    background-color: #3A6EA5 !important;
}

#frmClientes, #frmServicios, #frmEmpleados, #frmProductos, #frmGastos, #frmGestion, #frmAgenda {
    background-color: white !important;
    border-radius: 10px;
}


.warning {
    border: 1px solid red;
}

md-checkbox.md-default-theme.md-checked .md-icon {
    background: #749eba !important;
}

.md-toolbar-tools {
    background-color:white;
    color:#212121;
    height: 35px!important;
}

/*################ Element Tweaks ################*/
#sidebar ul li {
    list-style: none;
}

.login-footer {
    text-align: center !important;
}

#header .site-widgets ul li {
    list-style: none;
}

.btn-informe {
    padding: 5px 15px 5px 15px !important;
    min-width: 250px !important;
    border: none;
}

label {
    margin: 2px 0 2px 0;
}

.label-form-clientes, .label-form-servicios, .label-form-empleados {
    min-width: 75px;
    margin-right: 25px;
    font-weight: bold;
}

.ag-theme-fresh .ag-body{
    background:transparent;
}

.label-imagen-usuario {
    color: transparent;
    background-color: transparent;
    font-size: 12px;
    font-weight: 300;
    width: 108px;
    height:40px;
    position: absolute;
    bottom: -2px;
    transition-duration: 0.5s;
    text-align:center;
    line-height:40px;
}

    .label-imagen-usuario:hover {
        color: white;
        background-color: rgba(0,0,0,0.6);
        transition-duration: 0.5s;        
    }

    .label-imagen-usuario:focus {
        border: none;
        outline: none;
    }

.usuario-imagen {
    border: 1px solid #e1e1e1;
    min-height: 110px;
    min-width: 110px;
    max-height: 110px;
    max-width: 110px;
    box-shadow: inset 0 0 5px #999;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65px;
    right: 8px;
    box-shadow:0px 0px 9px 2px rgba(224,224,224,1);
}

    .usuario-imagen img {
        min-height: 106px;
        min-width: 106px;
        max-height: 106px;
        max-width: 106px;
        margin-left:auto;
        margin-right:auto;
        display:block;
        margin-top:1px;
    }

.flex, .flex-15,.flex-20, .flex-40, .flex-60, .flex-80 {
    background-color: white !important;
}


/*################ Filters, Shadows, Transitions ################*/
#header {
    box-shadow: rgb(19, 19, 19) 0px 0px 7px
}

.background-image {
    filter: blur(5px) grayscale(100%);
}

.form-container {
    box-shadow: 0 0 6px #999;
}

/*.btn-spa:active {
    transform: translateY(2px);
}*/

#sidebar {
    transition: all 500ms linear;
}

#sidebar ul li {
    transition: background-position 0.3s;
}

aside ul li:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: -7px 0 5px rgba(0,0,0,0.87);
}

li.active {
    transition: all 0.3s ease-in-out;
    box-shadow: -7px 0 5px rgba(0,0,0,0.87);
}

.form-control:focus {
    transition: all 0.3s ease-in-out;
    outline: 0;
}

.form-control-login:focus {
    transition: all 0.3s ease-in-out;
    box-shadow: none !important;
}

.tooltip .tooltip-inner {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.tooltip.in {
    opacity: 1 !important;
    filter: alpha(opacity=100);
}

.tooltip.show {
    opacity: 1;
}

/*################ Fixes ################*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;

}

.md-datepicker-calendar-pane.md-pane-open {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/*################ @Media Responsive ################*/
@media only screen and (max-width: 700px) {
    .bg {
        background-size: 300%;
    }   
}

/*################ Containers ################*/
.dropdown-menu{
    font-size:13px !important;
}

._md-datepicker-floating-label > md-datepicker .md-datepicker-button {
    margin-left: 28px !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.md-datepicker-input-container {
    min-width: 58%;
    float: right;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.md-dialog-content-body p {
    white-space: pre;
}

/*TABS GESTION*/
md-tabs.md-primary > md-tabs-wrapper {
    background-color: white;
    border-bottom: 2px solid orange;
    color:grey;
}


md-tabs md-ink-bar {
    background: transparent !important;
    color: purple;
}

.md-tab.md-active {
    background: orange;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 5px 10px #999;
}

md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
    color: white;
    font-weight:600;
}

md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: #212121;
    font-weight: 300;
}

/*SLIDER*/
.container1 {
    max-width: 400px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

    .container1 > ul {
        white-space: nowrap;        
    }    


.container2 {
    max-width: 400px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

    .container2 > ul {
        white-space: nowrap;
        animation: slide2 infinite 4s alternate;
    }

    .container2:hover > ul {
        animation-play-state: paused;
    }

@keyframes slide2 {
    0%, 30% {
        margin-left: 0px;
    }

    50%, 100% {
        margin-left: -400px;
    }
}

.container3 {
    max-width: 400px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

    .container3 > ul {
        white-space: nowrap;
        animation: slide3 infinite 9s alternate;        
    }

    .container3:hover > ul {
        animation-play-state: paused;
    }

@keyframes slide3 {
    0%, 33% {
        margin-left: 0px;        
    }

    45%, 66% {
        margin-left: -400px;        
    }

    95%, 100% {
        margin-left: -800px;        
    }
}

.container4 {
    max-width: 400px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

    .container4 > ul {
        white-space: nowrap;
        animation: slide4 infinite 15s alternate;
    }

    .container4:hover > ul {
        animation-play-state: paused;
    }

@keyframes slide4 {
    0%, 12% {
        margin-left: 0px;
    }
    30%, 40% {
        margin-left: -400px;
    }
    50%, 60% {
        margin-left: -800px;
    }
    90%, 100% {
        margin-left: -1200px;
    }    
}

.container5 {
    max-width: 400px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

    .container5 > ul {
        white-space: nowrap;
        animation: slide5 infinite 18s alternate;
    }

    .container5:hover > ul {
        animation-play-state: paused;
    }

@keyframes slide5 {
    0%, 10% {
        margin-left: 0px;
    }

    20%, 25% {
        margin-left: -400px;
    }

    45%, 50% {
        margin-left: -800px;
    }

    70%, 75% {
        margin-left: -1200px;
    }

    90%, 100% {
        margin-left: -1600px;
    }
}

/* IMAGENES ADJUNTAS */

.imagenes-adjuntas {
    border-left: 1px solid #ccc;
    min-height:64px;
}

.imagenes-adjuntas:first-child {
    border-left:none !important;
}


/*GESTION MENU LIST*/
md-list-item .md-list-item-inner {
    min-height:28px !important;
    height:28px !important;
}

/*FLOAT BUTTON AGENDA*/
#btnAgendarCita {
    max-width: 60px;
    max-height: 60px;
    min-height: 60px;
    min-width: 60px;
    padding-top: 10px;
    position: absolute;
    top: 130px;
    right: 25px;
    border-radius: 50%;
    display: flex;
    z-index: 999999;
    box-shadow: 0px 0px 21px 0px rgba(153,153,153,1);    
}


/*TABLE SCHEDULE*/

.table-schedule {
    border:1px solid #ddd;
}
.table-schedule, .table-schedule td, .table-schedule th, .table.table-schedule tr {
    padding:0px 10px 0px 10px;
    margin:0;
}

.table-schedule th {
    text-align:center;
    vertical-align:top;
}

.table-schedule td, .table-schedule th {
    min-width: 150px;
    max-width: 150px;
    border-bottom: 1px solid #ddd;
}

.table-schedule td {
    border-left: 1px solid #ddd;
}

.table-schedule td:last-child {
    border-right: 1px solid #ddd;
}

.table-schedule tr {
    min-height:30px;
    max-height:30px;
}