<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Agenda</title>
</head>
<body>
    <div layout="row" style="height: calc(100vh - 70px);">
        <form id="frmAgenda">
            <section id="divButtons" layout="row" layout-align="left center" style="margin-bottom: 5px;">
                <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Buscar" data-ng-click="ConsultarAgenda()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">search</i>Buscar
                </md-button>                
            </section>
        </form>
    </div>
</body>
</html>