<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Clientes</title>
</head>
<body>
    <div layout="row" layout-wrap="" style="height: calc(100vh - 70px); overflow:auto;">
        <form id="frmClientes" style="">
            <section id="divButtons" layout="row" layout-align="left center" style="margin-bottom: 5px;">
                <md-button type="button" id="btnGuardar" class="btn-spa groupX left" style="margin-left: 0px;" data-toggle="tooltip" title="Guardar" data-ng-click="GuardarCliente()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                </md-button>

                <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin-left:-2px;" data-toggle="tooltip" title="Nuevo" data-ng-click="LimpiarDatos()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                </md-button>

                <md-button type="button" id="btnImportar" class="btn-spa groupX middle" style="margin-left: -2px;" data-toggle="tooltip" title="Importar" data-ng-click="ImportarClientes()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">cloud_upload</i>Importar
                </md-button>

                <md-button type="button" id="btnInformes" class="btn-spa groupX middle" style="margin-left: -2px;" data-toggle="tooltip" title="Informes">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">picture_as_pdf</i>Informes
                </md-button>
                <md-button type="button" class="btn-spa dropdown-toggle-split groupX right" style="min-width:0; margin-left:-12px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons" style="transform: scaleX(-1); margin-top: -0px;">settings</i>
                </md-button>
                <div class="dropdown-menu">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="ListadoClientes" aria-label="Checkbox 1">
                                Listado de clientes
                            </md-checkbox>
                        </li>
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="DetalladoServicios" aria-label="Checkbox 2">
                                Detallado servicios facturados
                            </md-checkbox>
                        </li>
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="GeneralServicios" aria-label="Checkbox 3">
                                General servicios facturados
                            </md-checkbox>
                        </li>
                    </ul>
                </div>
            </section>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" style="">
                            Cédula:
                        </label>                        
                            <input ng-model="Cliente.Cedula" ng-readonly="CedulaReadOnly" id="txtCedula" numbers-only maxlength="15" data-ng-enter="ConsultarCliente($event, Cliente.Cedula)" ng-blur="ConsultarCliente($event, Cliente.Cedula)" type="text" class="" placeholder="Digite su cédula..." value="" autocomplete="off" tabindex=1>                        
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label for="dateType" class="label-form-clientes" style="">
                            Nombre(s):
                        </label>                     
                            <input ng-model="Cliente.Nombres" ng-keyup="onFilterTextBoxChanged()" maxlength="60" type="text" class="" placeholder="Digite su nombre ..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="txtNombres" tabindex=2>                        
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" style="">
                            Apellido(s):
                        </label>                        
                            <input ng-model="Cliente.Apellidos" maxlength="60" type="text" class="" placeholder="Digite su apellido ..." value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="txtApellido" tabindex=3>                        
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" for="txtSearchText" style="">
                            E-Mail:
                        </label>                        
                            <input ng-model="Cliente.Mail" maxlength="60" type="email" class="" placeholder="Digite su e-mail ..." value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="txtMail" tabindex=4>                        
                    </md-input-container>
                </div>

            </div>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" for="dateType" style="">
                            Dirección:
                        </label>                        
                            <input ng-model="Cliente.Direccion" maxlength="25" type="text" class="" placeholder="Digite su dirección ..." value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="txtDireccion" tabindex=5>                        
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" style="">
                            Telefono Fijo:
                        </label>                        
                            <input ng-model="Cliente.Telefono_Fijo" numbers-only maxlength="10" type="text" class="" placeholder="Digite su teléfono fijo ..." autocomplete="off" id="txtTelefono" tabindex=6>                        
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" style="">
                            Celular:
                        </label>                      
                            <input ng-model="Cliente.Telefono_Movil" numbers-only maxlength="12" type="text" class="" placeholder="Digite su celular ..." autocomplete="off" id="txtMovil" tabindex=7>                        
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="margin-left: -40px; min-width: 100%;">
                        <label class="label-form-clientes" style="">
                            Fecha Nacimiento:
                        </label>
                        <md-datepicker ng-model="Cliente.Fecha_Nacimiento" ng-change="ValidarFechaNacimiento()" md-placeholder="Enter date" style="" class="dateClientes"  id="dpFechaNacimiento" tabindex=8></md-datepicker>
                    </md-input-container>
                </div>

            </div>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" style="">
                            Municipio:
                        </label>
                        <select ng-model="MunicipioSeleccionado" ng-options="municipio.id_Municipio as municipio.nombre for municipio in Municipios | orderBy:'nombre'" ng-change="FiltrarBarrios(MunicipioSeleccionado)" class="" style="display:none; width:auto;" tabindex=9>
                        </select>
                        <md-select ng-model="MunicipioSeleccionado" ng-change="FiltrarBarrios(MunicipioSeleccionado)" class="" style="display:inline-flex; min-width: 100% !important; margin:15px 0;" id="slMunicipio" tabindex=9>
                            <md-option ng-bind="municipio.nombre" ng-value="municipio.id_Municipio" ng-repeat="municipio in Municipios track by municipio.id_Municipio"></md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">                        
                        <label class="label-form-clientes" style="">
                            Barrio:
                        </label>
                        <md-select ng-model="BarrioSeleccionado" ng-disabled="MunicipioSeleccionado=='-1'" class="" style="display:inline-flex; min-width: 100% !important; max-width: 170px; margin:15px 0;" id="slBarrio" tabindex=10>
                            <md-option ng-bind="barrio.nombre" ng-value="barrio.id_Barrio" ng-repeat="barrio in Barrios track by barrio.id_Barrio"></md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" style="">
                            Tipo Cliente:
                        </label>
                        <select ng-model="TipoClienteSeleccionado" ng-options="item.id_Tipo as item.nombre for item in TipoClientes | orderBy:'nombre'" class="" style="display:none; width:auto; " tabindex=11>
                        </select>
                        <md-select ng-model="TipoClienteSeleccionado" class="" style="display:inline-flex; min-width: 100% !important; margin:15px 0;" id="slTipoCliente" tabindex=11>
                            <md-option ng-bind="item.nombre" ng-value="item.id_Tipo" ng-repeat="item in TipoClientes track by item.id_Tipo"></md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-clientes" style="">
                            Estado:
                        </label>
                        <md-select ng-model="EstadoSeleccionado" class="" style="display:inline-flex; min-width: 100% !important; margin:15px 0;" id="slEstado" tabindex=12>
                            <md-option value="ACTIVO" selected>ACTIVO</md-option>
                            <md-option value="INACTIVO">INACTIVO</md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>
            
            <div id="divGridClientes" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 360px); margin-top:22px; overflow-y:auto;">
                <div id="divClientesGridOptions" data-ag-grid="ClientesGridOptions" class="ag-theme-fresh" style="width:100%; height:100%; padding-bottom:10px"></div>
            </div>

        </form>
    </div>
</body>
</html>