<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Empleados</title>
</head>
<body>
    <div layout="row" layout-wrap="" style="height: calc(100vh - 70px); overflow:auto;">

        <form id="frmEmpleados" style="">

            <section id="divButtons" layout="row" layout-align="left center" style="margin-bottom: 5px;">
                <md-button type="button" id="btnGuardar" class="btn-spa groupX left" style="margin-left: 0px;" data-toggle="tooltip" title="Guardar" data-ng-click="GuardarEmpleado()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                </md-button>

                <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Nuevo" data-ng-click="LimpiarDatos()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                </md-button>

                <md-button type="button" id="btnInformes" class="btn-spa groupX middle" style="margin-right:0;" data-toggle="tooltip" title="Informes">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">picture_as_pdf</i>Informes
                </md-button>
                <md-button type="button" class="btn-spa dropdown-toggle-split groupX right" style="min-width:0; margin-left:-1px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons" style="transform: scaleX(-1); margin-top: -0px;">settings</i>
                </md-button>
                <div class="dropdown-menu">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="ListadoClientes" aria-label="Checkbox 1">
                                Listado de empleados
                            </md-checkbox>
                        </li>
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="DetalladoInsumosEmpleados" aria-label="Checkbox 2">
                                Detallado insumos
                            </md-checkbox>
                        </li>
                    </ul>
                </div>
            </section>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Cédula:
                        </label>
                        <input ng-model="Empleado.Cedula" id="txtCedula" ng-readonly="CedulaReadOnly" numbers-only data-ng-enter="ConsultarEmpleado($event, Empleado.Cedula)" ng-blur="ConsultarEmpleado($event, Empleado.Cedula)" maxlength="15" type="text" class="" placeholder="Digite su cédula ..." value="" tabindex=1>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Nombre(s):
                        </label>
                        <input ng-model="Empleado.Nombres" id="txtNombre" maxlength="60" type="text" class="" placeholder="Digite su nombre ..." value="" tabindex=2>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Apellido(s):
                        </label>
                        <input ng-model="Empleado.Apellidos" id="txtApellido" maxlength="60" type="text" class="" placeholder="Digite sus apellidos ..." value="" tabindex=3>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Dirección:
                        </label>
                        <input ng-model="Empleado.Direccion" id="txtDireccion" maxlength="25" type="text" class="" placeholder="Digite su dirección ..." value="" tabindex=4>
                    </md-input-container>
                </div>

            </div>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Telefono Fijo:
                        </label>
                        <input ng-model="Empleado.Telefono_Fijo" maxlength="10" numbers-only id="txtFijo" type="text" class="" placeholder="Digite su telefono fijo ..." value="" tabindex=5>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Celular:
                        </label>
                        <input ng-model="Empleado.Telefono_Movil" id="txtMovil" maxlength="12" numbers-only type="text" class="" placeholder="Digite su celular ..." value="" tabindex=6>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Número de Hijos:
                        </label>
                        <input ng-model="Empleado.Numero_Hijos" id="txtHijos" numbers-only type="text" class="" placeholder="Digite su número de hijos ..." value="" tabindex=7>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="margin-left: -40px; min-width: 100%;">
                        <label class="label-form-empleados" style="">
                            Fecha Nacimiento:
                        </label>
                        <md-datepicker ng-model="Empleado.Fecha_Nacimiento" ng-change="ValidarFechaNacimiento()" md-placeholder="Enter date" style="" class="" id="dpFechaNacimiento" tabindex=8></md-datepicker>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Estado Civil:
                        </label>
                        <md-select ng-model="EstadoCivilSeleccionado" class="" style="display:inline-flex; min-width: 100% !important; margin:15px 0;" id="slEstadoCivil" tabindex=9>
                            <md-option value="SOLTERA" selected>SOLTERA(O)</md-option>
                            <md-option value="CASADA">CASADA(O)</md-option>
                            <md-option value="DIVORCIADA">DIVORCIADA(O)</md-option>
                            <md-option value="UNIONLIBRE">UNIÓN LIBRE</md-option>
                            <md-option value="VIUDA">VIUDA(O)</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Estado:
                        </label>
                        <md-select ng-model="EstadoSeleccionado" class="" style="display:inline-flex; min-width: 100% !important; margin:15px 0;" id="slEstado" tabindex=10>
                            <md-option value="ACTIVO" selected>ACTIVO</md-option>
                            <md-option value="INACTIVO">INACTIVO</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Municipio
                        </label>
                        <md-select ng-model="MunicipioSeleccionado" ng-change="FiltrarBarrios(MunicipioSeleccionado)" class="" style="display:inline-flex; min-width: 100% !important; margin:15px 0;" id="slMunicipio" tabindex=11>
                            <md-option ng-bind="municipio.nombre" ng-value="municipio.id_Municipio" ng-repeat="municipio in Municipios track by municipio.id_Municipio"></md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Barrio:
                        </label>
                        <md-select ng-model="BarrioSeleccionado" ng-disabled="MunicipioSeleccionado=='-1'" class="" style="display:inline-flex; min-width: 100% !important; max-width: 170px; margin:15px 0;" id="slBarrio" tabindex=12>
                            <md-option ng-bind="barrio.nombre" ng-value="barrio.id_Barrio" ng-repeat="barrio in Barrios track by barrio.id_Barrio"></md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>

            <div layout="row" layout-xs="column" style="background-color:rgb(250,250,250);" layout-align="start center">
                <div flex="25">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Tipo Pago:
                        </label>
                        <md-select ng-model="TipoPagoSeleccionado" class="" style="display:inline-flex; min-width: 100% !important; margin:15px 0;" id="slTipoPago" ng-change="FocoMonto()" tabindex=13>
                            <md-option ng-bind="tipopago.descripcion" ng-value="tipopago.id_TipoPago" ng-repeat="tipopago in TipoPagos track by $index"></md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="25">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="margin-bottom:-8px;">
                            Monto / %:
                        </label>
                        <input ng-model="Empleado.Monto" id="txtMonto" focus="selectChanged" type="text" float-numbers-only ng-pattern="/(^[0-9]{1,9})+(\.[0-9]{1,4})?$/" class="" style="position:relative; margin-top:16px;" placeholder="Digite el monto a pagar ..." value="" tabindex=14>
                    </md-input-container>
                </div>


            </div>

            <div id="divGridEmpleados" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 430px); margin-top:14px; overflow-y:auto;">
                <div id="divEmpleadosGridOptions" data-ag-grid="EmpleadosGridOptions" class="ag-theme-fresh" style="width:100%; height:100%; padding-bottom:10px"></div>
            </div>
        </form>
    </div>

    <!-- Modales Asignar Servicios-->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="dlgAsignarServicios">
            <md-dialog id="mdAsignarServicios" aria-label="" style="width: 38% !important; color: #666666 !important;">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 style="font-size:16px;">{{AccionEmpleado}}: {{NombreEmpleado}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="Cancelar()">
                            <i class="material-icons" style="transform: scaleX(-1)">close</i>
                        </md-button>
                    </div>                    
                </md-toolbar>

                <form id="frmServicios" style="">

                    <md-dialog-content style="background-color: rgb(250,250,250);">
                        <div layout="row" layout-sm="column" layout-align="center center">
                            <div flex="15">                                
                                    <label>Servicios:</label>                                
                            </div>
                            <div flex="60">                                
                                <md-input-container class="md-block" style="margin:0; padding: 0;">
                                    <md-select ng-model="ServiciosSeleccionados" multiple ng-change="AsignarRemover(ServiciosSeleccionados)" aria-label="checks asignarservicio" class="" style="display:inline-flex; min-width:100%; max-width: 100% !important; margin:15px 0;" id="slServicios" tabindex=1>
                                        <md-optgroup label="Servicios">
                                            <md-option ng-value="servicio.id_Servicio" ng-repeat="servicio in TempListadoServicios track by servicio.nombre">{{servicio.nombre}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="25">
                                <md-button type="button" id="btnNuevoModal" class="btn-spa groupX middle" data-toggle="tooltip" title="Asignar Servicio" data-ng-click="AsignarEmpleadoServicio()">
                                    Agregar<i class="material-icons md-18" style="transform: scaleX(-1)">add</i>
                                </md-button>
                            </div>                            
                        </div>

                        <div layout="row" layout-align="center center">
                            <div id="divGridEmpleadoServicio" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 500px); margin-top:11px; overflow-y:auto;">
                                <div id="divEmpleadoServicioGridOptions" data-ag-grid="EmpleadoServicioGridOptions" class="ag-theme-fresh" style="width:100%; height:100%; padding-bottom:10px"></div>
                            </div>
                        </div>

                    </md-dialog-content>
                </form>

            </md-dialog>
        </div>
    </div>

    <!-- Modales Asignar Insumos-->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="dlgAsignarInsumos">
            <md-dialog id="mdAsignarInsumos" aria-label="" style="width: 40% !important; color: #666666 !important;">

                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 style="font-size:16px;">{{AccionEmpleado}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="Cancelar()">
                            <i class="material-icons" style="transform: scaleX(-1)">close</i>
                        </md-button>
                    </div>
                </md-toolbar>

                <form id="frmServicios" style="">

                    <md-dialog-content style="background-color: rgb(250,250,250);">
                        <div layout="row" layout-align="">
                            <div flex="">
                                <md-input-container class="md-block" style="margin: 13px 0 0 0;">
                                    <label class="" style="">
                                    </label>
                                    <input>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="row" layout-align="end center">
                            <md-button type="button" id="btnGuardar" class="btn-spa groupX left" data-toggle="tooltip" title="Guardar" ng-click="GuardarServicio()" tabindex=7>
                                <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                            </md-button>
                            <md-button type="button" id="btnNuevoModal" ng-hide="OcultarbtnNuevo" class="btn-spa groupX middle" data-toggle="tooltip" title="Nuevo" data-ng-click="LimpiarDatos()">
                                <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                            </md-button>
                        </div>

                    </md-dialog-content>
                </form>

            </md-dialog>
        </div>
    </div>

</body>
</html>