<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Empleados</title>
</head>
<body>    
    <div layout="row" layout-wrap="" style="height: calc(100vh - 70px); overflow:auto;">

        <form id="frmEmpleados" style="">

            <section id="divButtons" layout="row" layout-align="left center" style="margin-bottom: 5px;">
                <md-button type="button" id="btnGuardar" class="btn-spa groupX left" style="margin-left: 0px;" data-toggle="tooltip" title="Guardar" data-ng-click="GuardarEmpleado()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                </md-button>

                <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Nuevo" data-ng-click="LimpiarDatos()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                </md-button>
            </section>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Cédula:
                        </label>
                        <input ng-model="Empleado.Cedula" id="" numbers-only maxlength="15" type="text" class="" placeholder="Digite su cédula ..." value="" tabindex=1>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Nombre(s):
                        </label>
                        <input ng-model="Empleado.Nombres" id="" maxlength="60" type="text" class="" placeholder="Digite su nombre ..." value="" tabindex=2>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Apellido(s):
                        </label>
                        <input ng-model="Empleado.Apellidos" id="" maxlength="60" type="text" class="" placeholder="Digite sus apellidos ..." value="" tabindex=3>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Dirección:
                        </label>
                        <input ng-model="Empleado.Direccion" id="" maxlength="25" type="text" class="" placeholder="Digite su dirección ..." value="" tabindex=9>
                    </md-input-container>
                </div>

            </div>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Telefono Fijo:
                        </label>
                        <input ng-model="Empleado.Telefono_Fijo" maxlength="10" numbers-only id="" type="text" class="" placeholder="Digite su telefono fijo ..." value="" tabindex=5>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Celular:
                        </label>
                        <input ng-model="Empleado.Telefono_Movil" id="" maxlength="12" numbers-only type="text" class="" placeholder="Digite su celular ..." value="" tabindex=6>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Estado Civil:
                        </label>
                        <md-select ng-model="EstadoCivilSeleccionado" class="" style="display:inline-flex; min-width: 100% !important; margin:20px 0;" id="slEstadoCivil" tabindex=7>
                            <md-option value="SOLTERA" selected>SOLTERA(O)</md-option>
                            <md-option value="CASADA">CASADA(O)</md-option>
                            <md-option value="DIVORCIADA">DIVORCIADA(O)</md-option>
                            <md-option value="UNIONLIBRE">UNIÓN LIBRE</md-option>
                            <md-option value="VIUDA">VIUDA(O)</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Número de Hijos:
                        </label>
                        <input ng-model="Empleado.Numero_Hijos" id="" numbers-only type="text" class="" placeholder="Digite su número de hijos ..." value="" tabindex=8>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-sm="column" style="background-color:rgb(250,250,250);" layout-align="space-around center">

                <div flex="">
                    <md-input-container style="width:90%">
                        <md-input-container style="margin-left: -40px; min-width: 100%;">
                            <label class="label-form-empleados" style="">
                                Fecha Nacimiento:
                            </label>
                            <md-datepicker ng-model="Empleado.Fecha_Nacimiento" ng-change="ValidarFechaNacimiento()" md-placeholder="Enter date" style="" class="" id="dpFechaNacimiento" tabindex=4></md-datepicker>
                        </md-input-container>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Estado:
                        </label>
                        <md-select ng-model="EstadoSeleccionado" class="" style="display:inline-flex; min-width: 100% !important; margin:20px 0;" id="slEstado" tabindex=10>
                            <md-option value="ACTIVO" selected>ACTIVO</md-option>
                            <md-option value="INACTIVO">INACTIVO</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Municipio
                        </label>
                        <md-select ng-model="MunicipioSeleccionado" ng-change="FiltrarBarrios(MunicipioSeleccionado)" class="" style="display:inline-flex; min-width: 100% !important; margin:20px 0;" id="slMunicipio" tabindex=11>
                            <md-option ng-bind="municipio.nombre" ng-value="municipio.id_Municipio" ng-repeat="municipio in Municipios track by municipio.id_Municipio"></md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container style="width:90%">
                        <label class="label-form-empleados" style="">
                            Barrio:
                        </label>
                        <md-select ng-model="BarrioSeleccionado" ng-disabled="MunicipioSeleccionado=='-1'" class="" style="display:inline-flex; min-width: 100% !important; max-width: 170px; margin:20px 0;" id="slBarrio" tabindex=12>
                            <md-option ng-bind="barrio.nombre" ng-value="barrio.id_Barrio" ng-repeat="barrio in Barrios track by barrio.id_Barrio"></md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>
        </form>
    </div>
            
</body>
</html>