<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gastos</title>
</head>
<body>

    <div layout="row" style="height: calc(100vh - 70px); overflow:auto;">

        <form id="frmGastos">

            <section id="divButtons" layout="row" layout-align="left center" style="margin-bottom: 5px;">
                <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Buscar" data-ng-click="ConsultarGastos()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">search</i>Buscar
                </md-button>

                <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: 6px;" data-toggle="tooltip" title="Nuevo" data-ng-click="ModalNuevoGasto()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                </md-button>

                <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Eliminar" data-ng-click="showConfirmEliminarGastos()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">delete</i>Eliminar
                </md-button>

                <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: 6px;" data-toggle="tooltip" title="Caja menor" data-ng-click="ModalCajaMenor()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">account_balance</i>Caja Menor
                </md-button>

                <md-button type="button" id="btnInformes" class="btn-spa groupX middle" style="margin-right:0;margin-left: -1px;" data-toggle="tooltip" title="Informes">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">picture_as_pdf</i>Informes
                </md-button>

                <md-button type="button" class="btn-spa dropdown-toggle-split groupX right" style="min-width:0; margin-left:-3px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons" style="transform: scaleX(-1); margin-top: -0px;">settings</i>
                </md-button>
                <div class="dropdown-menu">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="ListadoGastos" aria-label="Checkbox 1">
                                Listado por tipo de gasto
                            </md-checkbox>
                        </li>
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="DetalladoGastosLiquidados" aria-label="Checkbox 2">
                                Detallado gastos liquidados
                            </md-checkbox>
                        </li>
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="DetalladoGastosPendientes" aria-label="Checkbox 3">
                                Detallado gastos pendientes
                            </md-checkbox>
                        </li>
                    </ul>
                </div>
            </section>

            <div layout="row" layout-xs="column" style="" layout-align="start center">

                <div flex="20">
                    <md-input-container style="margin-left: -40px; min-width: 50%;  z-index:9999;">
                        <label class="label-form-clientes" style="">
                            Fecha Desde:
                        </label>
                        <md-datepicker ng-model="Filtros.Desde" data-ng-change="ValidarFechaDesde()" md-placeholder="Enter date" class="dateClientes" id="dpFechaDesde" tabindex=7></md-datepicker>
                    </md-input-container>
                </div>

                <div flex="20">
                    <md-input-container style="margin-left: -40px; min-width: 50%;">
                        <label class="label-form-clientes" style="">
                            Fecha Hasta:
                        </label>
                        <md-datepicker ng-model="Filtros.Hasta" data-ng-change="ValidarFechaHasta()" md-placeholder="Enter date"  class="dateClientes" id="dpFechaHasta" tabindex=8></md-datepicker>
                    </md-input-container>
                </div>

                <div flex="20" style="margin-top: -5px;">
                    <md-input-container style="width:50%">
                        <label class="label-form-clientes">
                            Tipo Gasto:
                        </label>                        
                        <md-select ng-model="TipoGastoSeleccionado" style="display:inline-flex; min-width: 100% !important; margin:15px 0; margin-top:1px;" id="slTipoGasto" tabindex=9>
                            <md-option ng-bind="item.Nombre" ng-value="item.id_TipoGasto" ng-repeat="item in TipoGastos track by item.id_TipoGasto"></md-option>
                        </md-select>
                    </md-input-container>
                </div>               

            </div>

            <div id="divGridGastos" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 250px); margin-top:14px; overflow-y:auto;">
                <div id="divGastosGridOptions" data-ag-grid="GastosGridOptions" class="ag-theme-fresh" style="width:100%; height:100%; padding-bottom:10px"></div>
            </div>

        </form>

    </div>

    <!-- Modal Caja Menor-->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="dlgCajaMenor">
            <md-dialog id="mdCajaMenor" aria-label="" style="min-width: 390px; max-width:390px; color: #666666 !important;">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 style="font-size:16px;">{{AccionGasto}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="Cancelar()">
                            <i class="material-icons" style="transform: scaleX(-1)">close</i>
                        </md-button>
                    </div>
                </md-toolbar>

                <form id="frmServicios" style="">

                    <md-dialog-content style="">
                        
                        <div layout="row" layout-xs="column" style="" layout-align="center center">

                            <div flex="50">
                                <md-input-container class="md-block" style="margin-top:-8px; padding: 0;">
                                    <label class="label-form-empleados" style="">
                                        Distribución:
                                    </label>
                                    <md-select ng-model="TipoCajaSeleccionada" aria-label="Distribucion Seleccionada" class="" ng-change="CambiarDistribucion()" style="display:inline-flex; min-width:80%; max-width: 80% !important; margin-top:9px;" id="slTipoPago" tabindex=1>
                                        <md-option ng-bind="tipocaja.Nombre" ng-value="tipocaja.id_TipoCaja" ng-repeat="tipocaja in TipoCaja track by $index"></md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div flex="50">
                                <md-input-container style="width:90%">
                                    <label class="label-form-empleados" style="">
                                        Saldo Inicial:
                                    </label>
                                    <input ng-model="CajaMenor.Saldo_Inicial" id="txtSaldoInicial" placeholder="Digite el saldo inicial ..." numbers-only type="text" md-autofocus autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=2>
                                </md-input-container>
                            </div>

                        </div>

                        <div layout="row" layout-sm="column" style="" layout-align="center center">

                            <div flex="">
                                <md-input-container style="width:100%; margin-top: -20px;">
                                    <label class="label-form-empleados" style="font-size:10px; color: orangered;">
                                        Acumulado:
                                    </label>
                                    <br />                                    
                                    <div style="font-size:22px; color: orangered; font-weight:600; padding-top:5px;">{{Acumulado | currency}}</div>
                                </md-input-container>
                            </div>

                            <div flex="25">
                                <md-button type="button" id="btnGuardarCajaMenor" style="right: 8px; position: fixed; margin-top: -27px;" class="btn-spa groupX middle" data-toggle="tooltip" title="Guardar" data-ng-click="GuardarCajaMenor()">
                                    <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                                </md-button>
                            </div>

                        </div>
                    </md-dialog-content>
                </form>

            </md-dialog>
        </div>
    </div>


    <!-- Modal Nuevo Gasto-->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="dlgNuevoGasto">
            <md-dialog id="mdNuevoGasto" aria-label="" style="min-width: 450px; max-width:450px; color: #666666 !important;" tabindex="-1">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 style="font-size:16px;">{{AccionGasto}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="Cancelar()">
                            <i class="material-icons" style="transform: scaleX(-1)">close</i>
                        </md-button>
                    </div>
                </md-toolbar>

                <form id="frmServicios" style="">

                    <md-dialog-content style="overflow:hidden;">
                        
                        <div layout="row" layout-sm="column" style="" layout-align="center center">

                            <div flex="50">
                                <md-input-container class="md-block" style="padding: 0;  min-width:100%; max-width:100%;">
                                    <label class="label-form-empleados" style="">
                                        Tipo de Gasto:
                                    </label>
                                    <md-select ng-model="TipoGastoSeleccionadoModal" aria-label="Tipo Gasto" class="" style="display:inline-flex; min-width:80%; max-width: 80% !important; margin-top:9px;" id="slTipoGastos" tabindex=1 md-autofocus>
                                        <md-option ng-bind="tipogasto.Nombre" ng-value="tipogasto.id_TipoGasto" ng-repeat="tipogasto in TipoGastos track by $index" ng-show="tipogasto.id_TipoGasto !==5"></md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div flex="50">
                                <md-input-container class="md-block" style="padding: 0; min-width:100%; max-width:100%;">
                                    <label class="label-form-empleados" style="">
                                        Empleados:
                                    </label>
                                    <md-select ng-model="EmpleadoSeleccionado" aria-label="Empleados" ng-disabled="TipoGastoSeleccionadoModal !== 2" class="" style="display:inline-flex; min-width:80%; max-width: 80% !important; margin-top:9px;" id="slEmpleados" tabindex=2>
                                        <md-option ng-bind="empleado.nombres" ng-value="empleado.id_Empleado" ng-repeat="empleado in Empleados track by $index"></md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                        </div>

                        <div layout="row" layout-sm="column" style="" layout-align="center center">

                            <div flex="">
                                <md-input-container style="width:100%">
                                    <label class="label-form-empleados" style="">
                                        Descripción:
                                    </label>
                                    <textarea ng-model="Gasto.Descripcion" id="txtDescripcion" rows="2" md-maxlength="300" placeholder="Descripción ..." type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=3></textarea>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="row" layout-xs="column" style="margin-top:-20px; margin-bottom: -20px;" layout-align="start center">

                            <div flex="50">
                                <md-input-container style="margin-left:-40px;">
                                    <label class="label-form-clientes" style="">
                                        Fecha Gasto:
                                    </label>
                                    <md-datepicker ng-model="Gasto.Fecha" md-placeholder="" class="dateClientes" id="dpFechaRegistro" tabindex=4></md-datepicker>
                                </md-input-container>
                            </div>

                            <div flex="25">
                                <md-input-container style="min-width: 50%; margin-left:-30px;">
                                    <label class="label-form-clientes" style="">
                                        Valor Gasto:
                                    </label>
                                    <input ng-model="Gasto.Valor" id="txtValorGasto" numbers-only placeholder="Valor del gasto ..." style="margin-top: 2px;" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=5>
                                </md-input-container>
                            </div>

                            <div flex="20">
                                <md-button type="button" id="btnGuardarCajaMenor" style="right: 8px; position: fixed; margin-top: -32px;" class="btn-spa groupX middle" data-toggle="tooltip" title="Guardar" data-ng-click="GuardarNuevoGasto()" tabindex="6">
                                    <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                                </md-button>
                            </div>
                        </div>                        
                    </md-dialog-content>
                </form>

            </md-dialog>
        </div>
    </div>

</body>
</html>