<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gestión</title>
</head>
<body>
    <div layout="row" style="height: calc(100vh - 70px);">
        <form id="frmGestion" autocomplete="nope">
            <md-tabs class="md-primary" style="min-height: calc(100vh - 70px) !important;">
                
                <md-tab label="Configuraciones">
                    <md-content style="background-color:transparent; overflow:hidden;">

                        <section id="divButtons" layout="row" layout-align="left center" style="margin-bottom: 5px; margin-top:2px;">
                            <md-button type="button" id="btnGuardarPropiedades" class="btn-spa groupX left" style="margin-left: 0px;" ng-disabled="PerfilUsuario === 'Invitado'" data-toggle="tooltip" title="Guardar" data-ng-click="GuardarEmpresaPropiedades()">
                                <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                            </md-button>
                        </section>

                        <div layout="row" style="width:100%; height: calc(100vh - 200px); margin-top:-5px; overflow-y:auto; overflow-x:hidden;" layout-align="start start">
                            <div>
                                <table class="table-propiedades" style="table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 460px;max-width: 460px;">Propiedad</th>
                                            <th style="min-width: 90px; max-width: 90px;">Código</th>
                                            <th style="min-width: 185px; max-width: 185px;">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="propiedad in SistemaPropiedades">
                                            <td>{{propiedad.descripcion}}</td>
                                            <td style="text-align:center; font-weight:600;">{{propiedad.codigo}}</td>
                                            <td data-ng-show="propiedad.tipo == 'ESCALAR'">
                                                <md-input-container style="margin:0; padding:0;">
                                                    <input type="text" class="form-control fix-display" style="width:240px; margin:-3px 0;padding:0;" numbers-only maxlength="15" data-ng-model="propiedad.valor_Propiedad">
                                                </md-input-container>
                                            </td>
                                            <td data-ng-show="propiedad.tipo == 'CONDICIONAL'">
                                                <md-input-container style="margin:0; padding:0;">                                                    
                                                    <md-select style="min-width:240px; max-width:240px;" class="form-control fix-display select-propiedad" data-ng-model="propiedad.valor_Propiedad">
                                                        <md-option ng-bind="item.descripcion" ng-value="item.valor_Propiedad" ng-repeat="item in PropiedadesCondicionales track by item.valor_Propiedad"></md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </td>
                                            <td data-ng-show="propiedad.tipo == 'RANGO_HORA'">
                                                <md-input-container style="margin:0; padding:0;">
                                                    <input type="time" id="txtRangoDesde" class="form-control fix-display" data-ng-change="ValidarHora()" style="width:120px; margin:-3px 0; padding:0;" ng-model="Rango.Desde"/>
                                                </md-input-container>
                                                <md-input-container style="margin:0; padding:0;">
                                                    <input type="time" id="txtRangoHasta" class="form-control fix-display" data-ng-change="ValidarHora()" style="width:120px; margin:-3px 0; padding:0;" ng-model="Rango.Hasta" />
                                                </md-input-container>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Usuarios">

                    <input type="file" name="file" id="ImagenUsuario" style="visibility:hidden;" data-toggle="tooltip" title="Upload" data-file-model="SeleccionarImagen($event)" accept=".png, .jpg, .jpeg" />

                    <md-content style="background-color:transparent; overflow:hidden; margin-top:-25px;">
                        <section id="divButtons" layout="row" layout-align="left center" style="margin-bottom: 5px;">
                            <md-button type="button" id="btnGuardar" class="btn-spa groupX left" style="margin-left: 0px;" ng-disabled="PerfilUsuario === 'Invitado'" data-toggle="tooltip" title="Guardar" data-ng-click="GuardarUsuario()">
                                <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                            </md-button>

                            <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Nuevo" data-ng-click="LimpiarDatos()">
                                <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                            </md-button>

                            <md-button type="button" id="btnMenu" class="btn-spa groupX middle" style="margin-right:0;" data-toggle="tooltip" title="Informes" data-ng-click="ModalMenu()">
                                <i class="material-icons md-18" style="transform: scaleX(-1)">menu</i>Menu
                            </md-button>

                        </section>

                        <div layout="row" layout-xs="column" style="" layout-align="center center">
                            <div flex="">
                                <md-input-container style="width:90%; margin-bottom:0;">
                                    <label class="label-form-empleados" style="">
                                        Nombre de usuario:
                                    </label>
                                    <input ng-model="Usuario.Nombre" id="txtUsuario" maxlength="25" data-ng-enter="ConsultarUsuario($event, Usuario.Nombre)" ng-blur="ConsultarUsuario($event, Usuario.Nombre)" type="text" ng-readonly="NombreReadOnly" placeholder="Nombre de usuario ..." autocomplete="nope" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=1>
                                </md-input-container>
                            </div>
                            <div flex="">
                                <md-input-container style="width:90%; margin-bottom:0;">
                                    <label class="label-form-empleados" style="">
                                        Contraseña:
                                    </label>
                                    <input ng-model="Usuario.Contrasenia" id="txtContrasenia" maxlength="100" type="password" placeholder="Contraseña ..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=2>
                                </md-input-container>
                            </div>

                            <div flex="">
                                <md-input-container style="width:90%; margin-bottom:0;">
                                    <label class="label-form-empleados" style="">
                                        Confirme la contraseña:
                                    </label>
                                    <input ng-model="Confirmacion" id="txtConfirmacion" maxlength="100" type="password" placeholder="Contraseña ..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=3>
                                </md-input-container>
                            </div>

                            <div flex="">
                                <md-input-container style="width:90%; margin-bottom:0;">
                                    <label class="label-form-clientes" for="txtSearchText" style="">
                                        E-Mail:
                                    </label>
                                    <input ng-model="Usuario.Mail" maxlength="60" type="email" class="" placeholder="E-mail ..." value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="txtMail" tabindex=4>
                                </md-input-container>
                            </div>

                            <div flex="">
                                <div class="usuario-imagen">
                                    <label class="label-imagen-usuario" ng-click="ProcesarImagen()"><i class="material-icons md-18" style="transform: scaleX(-1);">camera_alt</i> Cargar Avatar</label>
                                    <img ng-src="{{ImagenUsuario}}" />
                                </div>
                            </div>
                        </div>

                        <div layout="row" layout-xs="column" style="padding:10px 0;" layout-align="start center">
                            <div flex="20">
                                <md-input-container style="width:90%; margin-top:-18px; margin-bottom:0;">
                                    <label class="label-form-clientes">
                                        Perfil:
                                    </label>
                                    <md-select ng-model="TipoPerfilSeleccionado" style="display:inline-flex; min-width: 100% !important; margin-top:7px;" id="slTipoPerfil" tabindex=5>
                                        <md-option ng-bind="item.Nombre" ng-value="item.id_TipoPerfil" ng-repeat="item in TipoPerfil track by item.id_TipoPerfil"></md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>

                        <div id="divGridUsuarios" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 314px); margin-top:5px; overflow-y:auto;">
                            <div id="divUsuariosGridOptions" data-ag-grid="UsuariosGridOptions" class="ag-theme-fresh" style="width:100%; height:100%; padding-bottom:10px"></div>
                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>
        </form>
    </div>

    <!-- Modal Menu-->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="dlgMenu">
            <md-dialog id="mdMenu" aria-label="" style="min-width: 230px !important; max-width:230px;">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 style="font-size:16px;">Menú</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="Cancelar()">
                            <i class="material-icons" style="transform: scaleX(-1)">close</i>
                        </md-button>
                    </div>
                </md-toolbar>

                <form id="frmServicios" style="">

                    <md-dialog-content style="overflow:hidden;">
                        <div layout="row" layout-sm="column" style="" layout-align="start start">
                            <div flex="">
                                <md-list style="border:1px solid #e1e1e1;">
                                    <md-list-item ng-repeat="item in Menu" style="min-height:20px; height:20px;">
                                        <p style="font-size:14px;">{{item.Descripcion}}</p>
                                        <md-checkbox class="md-secondary" ng-model="item.Estado"></md-checkbox>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </md-dialog-content>
                </form>

            </md-dialog>
        </div>
    </div>
</body>
</html>