<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gestión</title>
</head>
<body>
    <div layout="row" style="height: calc(100vh - 70px); overflow:auto;">
        <form id="frmGestion">
            <md-tabs class="md-primary">
                <md-tab label="USUARIOS">
                    <md-content class="md-padding" style="background-color:transparent;">                        
                        
                    </md-content>
                </md-tab>
                <md-tab label="CONFIGURACIONES">
                    <md-content class="md-padding" style="background-color:transparent;">                        
                        
                    </md-content>
                </md-tab>                
            </md-tabs>
        </form>
</div>
</body>
</html>