<header>
    <h4 style="color: #151719; text-align: center; font-size: 62px;"><a ui-sref="home">HEADER</a></h4>
</header>

<nav></nav>

<aside id="sidebar">
    <div class="toggle-btn" data-ng-click="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li class="li-padding" ng-repeat="item in Menu">
            <i class="material-icons md-24" style="transform: scaleX(-1)">perm_contact_calendar</i>
            <a ui-sref="{{item.ruta_Acceso}}">{{item.descripcion}}</a>
        </li>
    </ul>
    <ul>
        <li ng-click="logout()"><a title="Logout" style="padding-bottom: 7pt;padding-top: 7pt;font-size: 20pt;"><span class="glyphicon glyphicon-log-in"></span></a>Cerrar sesión</li>
    </ul>
</aside>

<section>
    <ui-view>
        <div>
            <h4 style="color: #151719; text-align: center; font-size: 62px;">SPA</h4>
        </div>
    </ui-view>
</section>

<footer>
    <h4 style="color: #151719; text-align: center; font-size: 62px;">FOOTER</h4>
</footer>

