<header id="header">
    <p style="color: #151719; text-align: center; font-size: 24px;"><a ui-sref="home">HEADER</a></p>
</header>

<nav></nav>

<aside id="sidebar">    
    <ul>
        <li class="li-padding"><a ui-sref="home" title="Inicio"><img src="../../Images/home.png" style="max-width:28px; margin-right:15px; vertical-align:middle;">Inicio</a></li>
        <li class="li-padding" ng-repeat="item in Menu">
            <a ui-sref="{{item.ruta_Acceso}}"><img ng-src="data:image/png;base64,{{item.logo_Base64}}" style="max-width:28px; margin-right:15px; vertical-align:middle;">{{item.descripcion}}</a>
        </li>
        <li class="li-padding" ng-click="Logout()"><img src="../../Images/logout.png" style="max-width:28px; margin-right:15px; vertical-align:middle;">Cerrar sesión</li>
    </ul>    
</aside>

<section id="section">
    <ui-view>
        <div>
            <h4 style="color: #151719; text-align: center; font-size: 62px;">SPA</h4>
        </div>
    </ui-view>
</section>