<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <div class="background-image"></div>
    <div class="wrapper" style="margin-top:15px;">
        <div layout="row" layout-wrap="" layout-align="center center">
            <div layout-sm="column">
                <form class="form-container" style="min-width:320px; min-height: 365px;" autocomplete="new-password">
                    <div flex="" class="login-header">
                        <img src="../../Images/spa_login.png" style="margin-left:auto; max-width: 225px; margin-left:40px; padding-top:40px; display:block;" />
                    </div>                    
                    <div flex="" class="login-footer">
                        <p style="vertical-align:middle; width:100%;"><a href="https://beuxit.com" target="_blank">Beux</a> © <span id="copyright">
                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>