<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <div class="background-image"></div>
    <div class="wrapper">
        <section class="container-fluid">
            <section class="row justify-content-center">
                <section class="col-12 col-sm-6 col-md-3">
                    <form class="form-container" style="min-width:320px;">
                        <div class="form-group row login-header">
                            <h2 class="text-center" style="width:100%; color: var(--light-text); font-weight:600; padding-top: 50px;">SPA<br />MANAGEMENT</h2>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label" for="txtUsuario">Usuario</label>
                            <div style="display:flex; width:100%;">
                                <i class="material-icons login-icons md-24">person</i>
                                <input id="txtUsuario" type="text" ng-model="DatosUsuario.Usuario" class="form-control form-control-md form-control-login" id="txtUsuario" aria-describedby="emailHelp" placeholder="Nombre de usuario">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label" for="txtContraseña">Contraseña</label>
                            <div style="display:flex; width:100%;">
                                <i class="material-icons login-icons md-24">lock</i>
                                <input type="password" ng-model="DatosUsuario.Clave" class="form-control form-control-md form-control-login" id="txtContraseña" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="form-group row" data-ng-show="validarIntegracion">
                            <label class="col-form-label" for="txtCodIntegracion">Código validación</label>
                            <div style="display:flex; width:100%" ;>
                                <i class="material-icons login-icons md-24">Warning</i>
                                <input id="ctlIntegration" type="text" ng-model="DatosUsuario.CodigoIntegracion" class="form-control form-control-md" placeholder="Código validación">
                            </div>
                        </div>
                        <div class="form-group row" style="margin-top: 30px;">
                            <button type="button" class="btn btn-primary btn-md btn-block" style="margin-right: 0px !important; height: 40px !important; box-shadow: 1px 1px 15px rgba(0,0,0,0.1);" ng-click="Login()">Ingresar</button>
                        </div>
                        <div class="form-group row login-footer">
                            <p style="vertical-align:middle; width:100%;">¿Olvidaste tu contraseña?</p>
                        </div>
                    </form>
                </section>
            </section>
        </section>
    </div>
</body>
</html>