<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Productos</title>
</head>
<body>

    <div layout="row" layout-wrap="" style="height: calc(100vh - 70px); overflow:auto;">
        <form id="frmProductos">

            <div layout="row" layout-sm="column" style="">
                <div flex="" style="flex:none;">
                    <section id="divButtons" layout="row" layout-align="left center" style="margin-left: 2px;">
                        <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Nuevo" data-ng-click="ModalNuevoProducto()">
                            <i class="material-icons md-18" style="transform: scaleX(-1); margin-top:-2px;">note_add</i> Nuevo
                        </md-button>

                        <md-button type="button" id="btnInformes" class="btn-spa groupX middle" style="margin-right:0;" data-toggle="tooltip" title="Informes">
                            <i class="material-icons md-18" style="transform: scaleX(-1); margin-top:-2px;">picture_as_pdf</i> Informes
                        </md-button>

                        <md-button type="button" class="btn-spa dropdown-toggle-split groupX right" style="min-width:0; margin-left:-3px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons" style="transform: scaleX(-1); ; margin-top:-2px;">settings</i>
                        </md-button>
                        <div class="dropdown-menu">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item btn-informe">
                                    <md-checkbox ng-model="ListadoProductos" aria-label="Checkbox 1">
                                        Listado de productos
                                    </md-checkbox>
                                </li>
                                <li class="list-group-item btn-informe">
                                    <md-checkbox ng-model="DetalladoProductos" aria-label="Checkbox 2">
                                        Detallado productos facturados
                                    </md-checkbox>
                                </li>
                                <li class="list-group-item btn-informe">
                                    <md-checkbox ng-model="GeneralProductos" aria-label="Checkbox 3">
                                        General productos facturados
                                    </md-checkbox>
                                </li>
                                <li class="list-group-item btn-informe">
                                    <md-checkbox ng-model="DetalladoInsumosEmpleados" aria-label="Checkbox 3">
                                        Detallado insumos empleados
                                    </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div flex="" class="material-app">
                    <md-input-container>
                        <label class="label-form-clientes" style="">
                            Nombre Producto:
                        </label>
                        <input ng-keyup="onFilterTextBoxChanged()" id="txtBuscarProducto" maxlength="25" data-ng-enter="ConsultarProducto($event, Producto.Nombre)" type="text" style="min-width: 200px;" placeholder="Producto a filtrar..." tabindex=1>
                    </md-input-container>
                </div>
            </div>

            <div id="divGridProductos" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 155px); margin-top:-35px; overflow-y:auto;">
                <div id="divProductosGridOptions" data-ag-grid="ProductosGridOptions" class="ag-theme-fresh" style="width:100%; height:100%;"></div>
            </div>
        </form>

        <!-- Modales -->
        <div style="visibility: hidden">

            <div class="md-dialog-container" id="dlgNuevoProducto">
                <md-dialog id="mdNuevoProducto" aria-label="Nuevo Producto" style="min-width: 480px; max-width:480px; color: #666666 !important;">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 style="font-size:16px;">{{AccionProducto}}</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="Cancelar()">
                                <i class="material-icons" style="transform: scaleX(-1)">close</i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <form id="frmServiciosModal" style="">
                        <md-dialog-content style="overflow:visible;">
                            <div layout="row" layout-align="">
                                <div flex="" class="material-app">
                                    <md-input-container class="md-block" style="margin: 13px 0 0 0;">
                                        <label class="label-form-servicios" style="">
                                            Nombre Producto:
                                        </label>
                                        <input ng-model="Producto.Nombre" ng-blur="ConsultarProductoNombre($event, Producto.Nombre)" data-ng-enter="ConsultarProductoNombre($event, Producto.Nombre)" ng-readonly="NombreProductoReadOnly" id="txtNombreProducto" type="text" style="" maxlength="60" class="" placeholder="Digite el nombre del producto ..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=1 md-autofocus>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-align="">
                                <div flex="" class="material-app">
                                    <md-input-container class="md-block" style="margin: 5px 0;">
                                        <label class="label-form-servicios" style="">
                                            Descripción Producto:
                                        </label>
                                        <textarea ng-model="Producto.Descripcion" id="txtDescripcionProducto" type="text" placeholder="Digite la descripción del producto ..." md-maxlength="200" rows="2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=2 md-autofocus="AccionProducto == 'Editar Producto'"></textarea>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-sm="column" layout-align="center start">
                                <div flex="" class="material-app">
                                    <md-input-container style="margin: 5px 0;">
                                        <label class="label-form-servicios" style="">
                                            Cantidad:
                                        </label>
                                        <input ng-model="Producto.Cantidad_Transaccion" id="txtCantidadProducto" numbers-only type="text" placeholder="Digite la cantidad ..." value="" tabindex=3>
                                    </md-input-container>
                                </div>

                                <div flex="" class="material-app">
                                    <md-input-container style="margin: 5px 0;">
                                        <label class="label-form-servicios" style="">
                                            Precio Venta:
                                        </label>
                                        <input ng-model="Producto.Precio" id="txtValorProducto" numbers-only type="text" placeholder="Digite el valor del producto ..." value="" tabindex=4>
                                    </md-input-container>
                                </div>

                                <div flex="" style="" class="material-app">
                                    <md-input-container style="margin: 5px 0; margin-top: -22px; position:fixed; right:120px; ">
                                        <label class="label-form-servicios" style="font-size: 11px; color: #566473;">
                                            Inventario:
                                        </label>
                                        <br />
                                        <div style="font-size:22px; color: #566473; font-weight:600; padding-top:5px; text-align:center;">{{Producto.Inventario}}</div>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-sm="column" layout-align="center start">
                                <div flex="" class="material-app">
                                    <md-input-container style="margin: 5px 0;">
                                        <label class="label-form-servicios" style="">
                                            Tipo Transacción:
                                        </label>

                                        <md-select ng-model="TipoTransaccionSeleccionada" ng-disabled="true" style="min-width:200px;" id="slTipoTransaccion" tabindex=4>
                                            <md-option ng-bind="item.nombre" ng-value="item.id_TipoTransaccion" ng-repeat="item in TipoTransacciones track by item.id_TipoTransaccion"></md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div flex="" style="position:fixed; right: 15px; margin-top: -5px;">
                                    <md-button type="button" id="btnNuevoModal" ng-hide="OcultarbtnNuevo" style="margin: 6px 3px !important;" class="btn-spa groupX left" data-toggle="tooltip" title="Nuevo" data-ng-click="LimpiarDatos()">
                                        <i class="material-icons md-18" style="transform: scaleX(-1); margin-top:-2px;">note_add</i> Nuevo
                                    </md-button>

                                    <md-button type="button" id="btnGuardar" class="btn-spa groupX middle" style="margin: 6px 3px !important;" data-toggle="tooltip" title="Guardar" ng-click="GuardarProducto()" tabindex=7>
                                        <i class="material-icons md-18" style="transform: scaleX(-1); margin-top:-2px;">save</i> Guardar
                                    </md-button>
                                </div>
                            </div>
                        </md-dialog-content>
                    </form>
                </md-dialog>
            </div>

            <div class="md-dialog-container" id="dlgProductoTransacciones">

                <md-dialog id="mdProductoTransacciones" style="min-width: 680px; max-width:680px; color: #666666 !important;">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 style="font-size:16px;">{{ DescripcionProductoTransacciones }}</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="Cancelar()">
                                <i class="material-icons" style="transform: scaleX(-1)">close</i>
                            </md-button>
                        </div>
                    </md-toolbar>

                    <form id="frmServiciosModal">

                        <md-dialog-content style="">

                            <div layout="row" layout-align="center center">
                                <div id="divGridProductoTransacciones" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 300px); margin-top:11px; overflow-y:auto;">
                                    <div id="divProductoTransaccionesGridOptions" data-ag-grid="ProductoTransaccionesGridOptions" class="ag-theme-fresh" style="width:100%; height:100%; padding-bottom:10px"></div>
                                </div>
                            </div>
                        </md-dialog-content>
                    </form>
                </md-dialog>
            </div>
        </div>
    </div>
</body>
</html>