<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Servicios</title>
</head>
<body>

    <div layout="row" layout-wrap="" style="height: calc(100vh - 70px); overflow:auto;">

        <form id="frmServicios">

            <section id="divButtons" layout="row" layout-align="left center" style="margin-bottom: 5px;">
                <md-button type="button" id="btnNuevo" class="btn-clientes groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Nuevo" data-ng-click="ModalNuevoServicio()">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                </md-button>

                <md-button type="button" id="btnInformes" class="btn-clientes groupX middle" style="margin-right:0;" data-toggle="tooltip" title="Informes">
                    <i class="material-icons md-18" style="transform: scaleX(-1)">picture_as_pdf</i>Informes
                </md-button>
                <md-button type="button" class="btn-clientes dropdown-toggle-split groupX right" style="min-width:0; margin-left:-1px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons" style="transform: scaleX(-1); margin-top: -0px;">settings</i>
                </md-button>
                <div class="dropdown-menu">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="ListadoServicios" aria-label="Checkbox 1">
                                Listado de servicios
                            </md-checkbox>
                        </li>
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="DetalladoServicios" aria-label="Checkbox 2">
                                Detallado servicios facturados
                            </md-checkbox>
                        </li>
                        <li class="list-group-item btn-informe">
                            <md-checkbox ng-model="GeneralServicios" aria-label="Checkbox 3">
                                General servicios facturados
                            </md-checkbox>
                        </li>
                    </ul>
                </div>
            </section>

            <div layout="row" layout-sm="column" style="margin: 0 0 -35px 0">
                <div flex="">
                    <md-content>
                        <label class="label-form-clientes" style="">
                            Nombre Servicio:
                        </label>
                        <md-input-container>
                            <input ng-model="Servicio.Nombre" ng-keyup="onFilterTextBoxChanged()" id="txtNombreServicio" maxlength="15" data-ng-enter="ConsultarServicio($event, Servicio.Nombre)" type="text" placeholder="Digite el nombre del servicio..." tabindex=1>
                        </md-input-container>
                    </md-content>
                </div>
            </div>

            <div id="divGridServicios" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 251px); margin-top:40px; overflow-y:auto;">
                <div id="divServiciosGridOptions" data-ag-grid="ServiciosGridOptions" class="ag-theme-fresh" style="width:100%; height:100%; padding-bottom:10px"></div>
            </div>
        </form>

        <!-- Modales -->
        <div style="visibility: hidden">

            <div class="md-dialog-container" id="dlgNuevoServicio">
                <md-dialog id="mdNuevoServicio" aria-label="Nuevo Servicio" style="width: 40% !important; color: #666666 !important;">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 style="font-size:16px;">{{ AccionServicio }}</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="Cancelar()">
                                <i class="material-icons" style="transform: scaleX(-1)">close</i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <form id="frmServiciosModal" style="">
                        <md-dialog-content>
                            <div layout="row" layout-align="">
                                <div flex="100">
                                    <md-input-container class="md-block">
                                        <label class="label-form-servicios" style="">
                                            Nombre Servicio:
                                        </label>
                                        <input ng-model="Servicio.Nombre" type="text" style="" maxlength="30" class="" placeholder="Digite el nombre del servicio ..." value="" tabindex=1>
                                    </md-input-container>                                    
                                </div>
                            </div>
                            <div layout="row" layout-align="">
                                <div flex="100">
                                    <md-input-container class="md-block">
                                        <label class="label-form-servicios" style="">
                                            Descripción Servicio:
                                        </label>
                                        <textarea ng-model="Servicio.Descripcion" type="text" placeholder="Digite la descripción del servicio ..." md-maxlength="300" rows="2" tabindex=2></textarea>
                                    </md-input-container>
                                    
                                </div>
                            </div>
                            <div layout="row" layout-sm="column" layout-align="center center">
                                <div flex="">
                                    <md-input-container>
                                        <label class="label-form-servicios" style="">
                                            Tiempo Servicio(MIN):
                                        </label>
                                        <input ng-model="Servicio.Tiempo"  numbers-only type="text" style="" class="" placeholder="Digite el tiempo del servicio en minutos ..." value="" tabindex=3>
                                    </md-input-container>
                                    
                                </div>
                                <div flex="">
                                    <md-input-container>
                                        <label class="label-form-servicios" style="">
                                            Tipo Servicio
                                        </label>
                                        <select ng-model="TipoServicioSeleccionado" ng-options="item.id_tiposervicio as item.nombre for item in TipoServicios | orderBy:'nombre'" style="display:none; width:auto;" tabindex=4>
                                        </select>
                                        <md-select ng-model="TipoServicioSeleccionado" style="min-width:200px;" tabindex=4>
                                            <md-option ng-bind="item.nombre" ng-value="item.id_TipoServicio" ng-repeat="item in TipoServicios track by item.id_TipoServicio"></md-option>
                                        </md-select>                                        
                                    </md-input-container>                              
                                </div>
                            </div>
                            <div layout="row" layout-sm="column" layout-align="center center">
                                <div flex="50">
                                    <md-input-container>
                                        <label class="label-form-servicios" style="">
                                            Valor Servicio
                                        </label>
                                        <input ng-model="Servicio.Valor" numbers-only type="text" style="" class="" placeholder="Digite el valor del servicio ..." value="" tabindex=5>
                                    </md-input-container>
                                    
                                </div>
                                <div flex="50">
                                    <md-input-container>
                                        <label class="label-form-servicios" style="">
                                            Estado
                                        </label>
                                        <md-select ng-model="EstadoSeleccionado" class="" style="display:inline-flex; min-width: 200px;" id="slEstado" tabindex=6>
                                            <md-option value="ACTIVO" selected>ACTIVO</md-option>
                                            <md-option value="INACTIVO">INACTIVO</md-option>
                                        </md-select>
                                    </md-input-container>                                    
                                </div>
                            </div>

                            <md-button type="button" id="btnGuardar" class="btn-clientes groupX left" style="margin-left: 0px;" data-toggle="tooltip"  title="Guardar" ng-click="GuardarServicio()" tabindex=7>
                                <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                            </md-button>

                        </md-dialog-content>
                    </form>
                    
                </md-dialog>
            </div>

        </div>

    </div>


</body>
</html>