<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Servicios</title>
</head>
<body>

    <div layout="row" layout-wrap="" style="height: calc(100vh - 45px); overflow:auto;">
        <form id="frmServicios">

            <div layout="row" layout-sm="column" style="">
                <div flex="" style="flex:none;">
                    <section id="divButtons" layout="row" layout-align="left center">
                        <md-button type="button" id="btnNuevo" class="btn-spa groupX middle" style="margin: -1px;" data-toggle="tooltip" title="Nuevo" data-ng-click="ModalNuevoServicio()">
                            <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                        </md-button>

                        <md-button type="button" id="btnInformes" class="btn-spa groupX middle" style="margin-right:0;" data-toggle="tooltip" title="Informes">
                            <i class="material-icons md-18" style="transform: scaleX(-1)">picture_as_pdf</i>Informes
                        </md-button>

                        <md-button type="button" class="btn-spa dropdown-toggle-split groupX right" style="min-width:0; margin-left:-3px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons" style="transform: scaleX(-1); margin-top: -0px;">settings</i>
                        </md-button>
                        <div class="dropdown-menu">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item btn-informe">
                                    <md-checkbox ng-model="ListadoServicios" aria-label="Checkbox 1">
                                        Listado de servicios
                                    </md-checkbox>
                                </li>
                                <li class="list-group-item btn-informe">
                                    <md-checkbox ng-model="DetalladoServicios" aria-label="Checkbox 2">
                                        Detallado servicios facturados
                                    </md-checkbox>
                                </li>
                                <li class="list-group-item btn-informe">
                                    <md-checkbox ng-model="GeneralServicios" aria-label="Checkbox 3">
                                        General servicios facturados
                                    </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div flex="">
                    <md-input-container>
                        <label class="label-form-clientes" style="">
                            Nombre Servicio:
                        </label>
                        <input ng-keyup="onFilterTextBoxChanged()" id="txtBuscarServicio" maxlength="25" data-ng-enter="ConsultarServicio($event, Servicio.Nombre)" type="text" style="min-width: 200px;" placeholder="Servicio a filtrar..." tabindex=1>
                    </md-input-container>
                </div>
            </div>

            <div id="divGridServicios" layout="row" layout-sm="column" style="width:100%; height: calc(100vh - 155px); margin-top:-35px; overflow-y:auto;">
                <div id="divServiciosGridOptions" data-ag-grid="ServiciosGridOptions" class="ag-theme-fresh" style="width:100%; height:100%;"></div>
            </div>
        </form>

        <!-- Modales -->
        <div style="visibility: hidden">

            <input type="file" name="file" id="ImagenServicio" multiple style="visibility:hidden;" data-toggle="tooltip" title="Upload" data-file-model="SeleccionarImagen($event)" accept=".png, .jpg, .jpeg" />

            <div class="md-dialog-container" id="dlgNuevoServicio">
                <md-dialog id="mdNuevoServicio" aria-label="Nuevo Servicio" style="min-width: 540px !important; max-width: 540px !important; color: #666666 !important;">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 style="font-size:16px;">{{ AccionServicio }}</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="Cancelar()">
                                <i class="material-icons" style="transform: scaleX(-1)">close</i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <form id="frmServiciosModal" style="">
                        <md-dialog-content style="">
                            <div layout="row" layout-align="">
                                <div flex="">
                                    <md-input-container class="md-block" style="margin: 13px 0 20px 0;">
                                        <label class="label-form-servicios" style="">
                                            Nombre Servicio:
                                        </label>
                                        <md-select ng-model="ServicioSeleccionadoM" data-ng-change="OnChangeServicioMaestro(ServicioSeleccionadoM)" ng-disabled="ServicioReadOnly" style="min-width:200px; margin-top: 5px;" id="slServicioMaestro" tabindex=1>
                                            <md-option ng-bind="item.nombre" ng-value="item.id_Servicio" ng-repeat="item in ServiciosSinAsignar track by item.id_Servicio"></md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-align="">
                                <div flex="">
                                    <md-input-container class="md-block" style="margin: 5px 0;">
                                        <label class="label-form-servicios" style="">
                                            Descripción Servicio:
                                        </label>
                                        <textarea ng-model="ServicioDescripcion" ng-readonly="true" id="txtDescripcionServicio" type="text" placeholder="Descripción del servicio ..." md-maxlength="300" rows="2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex=2></textarea>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-sm="column" layout-align="center start">

                                <div flex="50">
                                    <md-input-container style="margin: 5px 0;">
                                        <label class="label-form-servicios" style="">
                                            Tipo Servicio
                                        </label>
                                        <md-select ng-model="TipoServicioSeleccionado" ng-disabled="true" style="min-width:200px; margin-top: 5px;" id="slTipoServicio" tabindex=3>
                                            <md-option ng-bind="item.nombre" ng-value="item.id_TipoServicio" ng-repeat="item in TipoServicios track by item.id_TipoServicio"></md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div flex="30">
                                    <md-input-container style="margin: 5px 0; margin-left:-40px; min-width:180px; max-width:180px;">
                                        <label class="label-form-servicios" style="">
                                            Tiempo (MIN):
                                        </label>
                                        <md-select ng-model="Servicio.Tiempo" id="slTiempoServicio" md-autofocus="AccionServicio == 'Editar Servicio'" style="font-size:12px; margin-top:5px;" tabindex="4">
                                            <md-option ng-bind="item.Valor" ng-value="item.Id_DuracionServicio" ng-repeat="item in DuracionServicio track by $index"></md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div flex="20">
                                    <md-input-container style="margin: 5px 0;">
                                        <label class="label-form-servicios" style="">
                                            Valor Servicio
                                        </label>
                                        <input ng-model="Servicio.Valor" id="txtValorServicio" numbers-only type="text" style="margin-top:-1px;" placeholder="Digite el valor del servicio ..." tabindex=5>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-xs="column" layout-align="center start">

                                <div flex="">
                                    <md-input-container style="margin: 5px 0;">
                                        <label class="label-form-servicios" style="">
                                            Estado
                                        </label>
                                        <md-select ng-model="EstadoSeleccionado" class="" style="display:inline-flex; min-width: 200px;" id="slEstado" tabindex=6>
                                            <md-option value="ACTIVO" selected>ACTIVO</md-option>
                                            <md-option value="INACTIVO">INACTIVO</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-sm="column" layout-align="end center">

                                <div flex="">
                                    <md-button type="button" id="btnImagenesServicio" style="margin: 6px 3px !important; background-color: #f17325 !important;" class="groupX left btn-spa" data-toggle="tooltip" title="Seleccionar imagenes" ng-click="showReemplazarImagenesServicio()" tabindex=7>
                                        <i class="material-icons md-18" style="transform: scaleX(-1)">image</i>Imágenes
                                    </md-button>
                                    <md-button type="button" style="margin-left: -10px; padding:0; min-width:20px; background-color: #f17325 !important;" class="groupX left btn-spa" data-toggle="tooltip" title="Imágenes Adjuntas" data-ng-click="showCustomImagenesAdjuntas()">
                                        <i class="material-icons md-18" style="transform: scaleX(-1)">attach_file</i>
                                    </md-button>
                                </div>

                                <div flex="" style="right:15px; position: absolute;">
                                    <md-button type="button" id="btnGuardar" style="margin: 6px 3px !important;" class="btn-spa groupX left" data-toggle="tooltip" title="Guardar" ng-click="GuardarServicio()" tabindex=8>
                                        <i class="material-icons md-18" style="transform: scaleX(-1)">save</i>Guardar
                                    </md-button>
                                    <md-button type="button" id="btnNuevoModal" ng-hide="OcultarbtnNuevo" style="margin: 6px 3px !important;" class="btn-spa groupX middle" data-toggle="tooltip" title="Nuevo" data-ng-click="LimpiarDatos()" tabindex=9>
                                        <i class="material-icons md-18" style="transform: scaleX(-1)">note_add</i>Nuevo
                                    </md-button>
                                </div>
                            </div>
                        </md-dialog-content>
                    </form>
                </md-dialog>
            </div>
        </div>
    </div>
</body>
</html>