<div>
    <div class="container-fluid" style="background:none;">
        <div class="row paddingHeader">
            <div class="col-xs-4"><label class="control-label">Store</label></div>

            <div class="col-xs-8">
                <md-select ng-model="selectedStoreAndMerchandisers" ng-change="getShrinkByRtvAndStore()" placeholder="Stores">
                    <md-optgroup label="Customer">
                        <md-option ng-value="option.storeNumber == null ? option.customerName : option.storeNumber" ng-repeat="option in StoreAndMerchandisers">{{ option.customerName }}</md-option>
                    </md-optgroup>
                </md-select>
            </div>
        </div>

        <div class="row paddingHeader">
            <div class="col-xs-4"><label class="control-label">Merchandiser</label></div>
            <div class="col-xs-8"><label style=" font-weight: normal;" data-ng-model="MerchandiserName">{{merchandiserName}}</label></div>
        </div>

        <div class="row paddingHeader">
            <div class="col-xs-4"><label class="control-label">RTV #</label></div>
            <div class="col-xs-8"><input class="form-control" style="max-width:80%" ng-blur="getShrinkByRtvAndStore()" placeholder="RTV" ng-model="RTVNumber" /></div>
        </div>

        <div class="row paddingHeader">
            <div class="col-xs-4"><label class="control-label">Date</label></div>
            <div class="col-xs-8">
                <md-datepicker style="margin-left: -17px;" md-min-date="minDate" md-max-date="maxDate" ng-model="DateShrink" md-placeholder="Enter date" md-open-on-focus tabindex="-1" ng-disabled="!IsModified"></md-datepicker>
            </div>
        </div>

        <div class="ContainerHeigth">
            <div class="col-xs-12 outline categoriesrow" ng-repeat-start="ProductCategory in ProductCategories" data-ng-model="categorySelectedId" style="padding: 5px 0px;">
                <div layout="row" layout-align="start center" style="padding:0px 10px">
                    <md-button class="md-icon-button md-primary" ng-click="showShrinkCauses(ProductCategory['ParentId'])" style="padding:0px; width:30px; height:20px; margin-left:0;">
                        <md-icon md-font-icon="fa fa-eye" class="fa"></md-icon>
                    </md-button>
                    <label class="outline no-margin" ng-bind="ProductCategory['Name']" ng-click="expanded = !expanded" flex></label>
                    <label class="label-info labelTotal no-margin">{{ ProductCategory.TotalCategory}}</label>
                </div>
            </div>
            <div ng-repeat-end ng-show="expanded" class="col-xs-12" ng-if="ProductCategory.Products.length > 0 && ProductCategory.TotalCategory > 0">
                <ul style="list-style:none;">
                    <li ng-repeat="Product in ProductCategory.Products" ng-if="Product.upcName != null"><label style="font-weight: normal; margin-top: 10px;" ng-bind="Product.color == null ? Product.upcName :  Product.upcName + ' - ' + Product.color" tabindex="-1"> </label></li>
                </ul>
            </div>
        </div>

        <div style="position: fixed;bottom: 15px;right: 10px;width: 70px;">
            <div ng-show="isOpen" class="box">
                <md-button aria-label="send" ng-click="saveShrink()" style="background-color:#0268AD" class="md-fab center-button">
                    <md-icon md-icon md-svg-src="{{ (RTVNumber!='') ?'../../Images/send_1.svg' : '../../Images/send_2.svg'}}"></md-icon>
                </md-button>
                <md-button aria-label="comments" ng-click="showComments()" class="md-fab md-raised md-mini center-button">
                    <md-icon aria-label="Comments" md-svg-src="../../Images/comments.svg"></md-icon>
                </md-button>
                <md-button aria-label="cancel" style="background-color: #082855;" ng-click="clearData()" class="md-fab md-raised md-mini center-button">
                    <md-icon md-svg-src="{{ '../../Images/broom.svg' }}" style="transform:rotate(33deg)"></md-icon>
                </md-button>
            </div>
            <md-button aria-label="menu" style=" background-color: #082855;" class="md-fab center-button" ng-click="openMenu()" id="circularMenu">
                <md-icon md-svg-src="{{ (!isOpen) ? '../../Images/icono_mas.svg' : '../../Images/icono_x.svg'  }}" id="circularMenuIcon"></md-icon>
            </md-button>
        </div>
    </div>

    <div id="divRTVReasons" class="rtvReasons">
        <div class="container-fluid-rtv" style="z-index:60;opacity:1;">
            <md-subheader class="titleToolbar">
                <div layout="row" layout-align="start center">
                    <p class="text-center no-margin" flex>{{categorySelected}}</p>
                    <md-button class="md-icon-button md-primary" style="padding:0px;width: 30px;height: 30px;margin: 0;background-color: #ff8d00;border-radius: 100%;min-height: 0px;" ng-click="cancel()">
                        <md-icon md-font-icon="fa fa-close" class="fa" style="color:#fff;font-size: 20px;" ng-click="cancel()"></md-icon>
                    </md-button>
                </div>
            </md-subheader>
            <div class="ModalHeigth">
                <div>
                    <md-select ng-model="selectedProduct" class="selectcCauses" ng-change="loadProductWithCausesByProduct()" style="max-width: none !important;" placeholder="Products">
                        <md-optgroup label="Product">
                            <md-option ng-value="option.upc" ng-repeat="option in Products[0]">{{ option.name }}</md-option>
                        </md-optgroup>
                    </md-select>
                </div>
                <div id="divcolors">
                    <md-select ng-model="selectedColor" class="selectcCauses" ng-change="loadProductWithCausesByColor()" style="max-width: none !important;" placeholder="Colors">
                        <md-optgroup label="Color">
                            <md-option ng-value="option.id" ng-repeat="option in Colors">{{ option.color }}</md-option>
                        </md-optgroup>
                    </md-select>
                </div>

                <div layout="row" layout-align="start start" style="padding:5px 15px;" ng-repeat="rtv in RTVReasons">
                    <label ng-bind="rtv['RtvReasonDescription']" class="labelText" flex></label>
                    <input class="form-control input-number text-center" limit-to="3" numbers-only type="text" placeholder="0" ng-model="rtv.Quantity" ng-disabled="!IsModified" />
                </div>

                <div layout="row" layout-align="start start" style="padding:5px 15px;">
                    <label class="labelText label-shrink">QTY</label>
                    <label class="label-info labelTotal lableTotal-shrink" data-ng-model="ProductTotal">{{ RTVReasons|sumShrink:'Quantity'}}  </label>
                </div>

                <div style="text-align: center;padding-bottom: 15px;">
                    <md-icon md-svg-src="../../Images/003-checked.svg" ng-click="hideShrinkCauses()" style="cursor:pointer;" class="outline"></md-icon>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="IsLoading" class="background" style="width: 100%; height: 100%; top: 0; left: 0; position: fixed; display: block; opacity: 0.7; background-color: #fff; z-index: 9999; text-align: center; display: block">
        <div data-icon="progressGeneral"></div>
    </div>

    <div data-ng-if="!IsLoading" class="background" style="display: none">
        <div data-icon="progressGeneral"></div>
    </div>
</div>
