<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visitas</title>
</head>
<body>
    <div us-spinner="{radius:30, width:8, length: 16}" style="backdrop-filter: blur(3px); position: fixed; margin-left:-160px; margin-top:-50px; background-color: rgba(0,0,0,0.3); width: 100%; height: 100%; z-index: 2000000000;"></div>
    <div layout="row" layout-wrap="" style="height: calc(100vh - 70px); overflow:auto;">
        <form id="frmServicios" style="">
            <div layout="row" layout-sm="column" style="position:relative;">
                <div class="under-construction">
                    <img src="../../Images/template/construccion.png" alt="En Construcción" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>